/* Configurações de cores */
:root {
  --main-color: #00eeff;
  --text-color: #ffffff;
  --bg-color-01: #1f242d;
  --bg-color-02: #323946;
  --color-00: #0000001a;

  /* Extra colors */
  --color-01: #999999;
  --color-02: #009539;
  --color-03: #7950f2;
  --color-04: #c00000;
  --color-05: #232323;
}

/* Estilo do ícone olá (hero) */
.wave {
  display: inline-block;
  transform-origin: 70% 70%; /* Define o ponto de rotação da mão */
  animation: wave-animation 2s infinite; /* Animação infinita */
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Imports the Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Definindo variáveis para cores */
:root {
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #000000;
  --text-dark: #ffffff;
}

/* Estilo para o typing effect */

#typing-effect {
  font-family: "Poppins", monospace;
  font-size: 33px;
  color: var(--main-color);
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid black;
  width: fit-content;
  animation: blink-cursor 1s steps(3) infinite;
}

@keyframes blink-cursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: transparent;
  }
}

/* Estilos adicionais */
.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/*Configurações padrão do navegador*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--bg-color-01);
  color: var(--text-color);
  line-height: 1.6;
  height: 2000px; /* Apenas para ter uma página com rolagem */
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1rem;
  background-color: var(--bg-color-01);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.nav-responsive {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--bg-color-01);
  width: 100%;
  /*height: 100vh;*/
  padding: 1rem;
  /*z-index: 100; */
}

.nav a,
.nav-responsive a {
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: 0.4s;
}

.nav a:hover,
.nav-responsive a:hover {
  //background-color: var(--main-color);
  //color: var(--bg-color-01);
  color: var(--main-color);
}

section {
  min-heigh: 100vh;
  padding: 6rem 6rem 2rem;
}

span {
  color: var(--main-color);
}

/* Efeito partículas */
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: -1; /* Fica atrás dos outros elementos */
}
/* /Efeito partículas */

.home,
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-img {
  border-right: solid 0.6rem var(--main-color);
  border-bottom: solid 0.6rem var(--main-color);
  border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
}

.about-img {
  border-left: solid 0.6rem var(--main-color);
  border-bottom: solid 0.6rem var(--main-color);
  border-image: linear-gradient(225deg, transparent 50%, var(--main-color)) 1;
}

.home-img img,
.about-img img {
  width: 100%;
}

.about {
  background-color: var(--bg-color-02);
}

.home-content {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.home-content,
.about-content {
  width: 45%;
}

.home-content h1,
.about-content h1 {
  font-weight: 700;
  line-heigh: 1.3;
}

.home-content h3,
.about-content h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

.home-content p,
.about-content p {
  margin-top: 1.2rem;
  text-align: justify;
  font-size: 1.25rem;
}

h1 {
  font-size: 100px;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Glitch Effect */
.glitch {
  position: relative;
  font-size: 80px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #00eeff, 0 0 10px #00eeff, 0 0 20px #ff00ff;
  animation: glitch-animation 2s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #00eeff;
  background: #000;
  overflow: hidden;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #ff00ff;
  clip: rect(0, 900px, 45px, 0);
  animation: glitch-animation 3s infinite linear;
}

.glitch::after {    
  left: -2px;
  text-shadow: -2px 0 #ff00ff;
  clip: rect(0, 900px, 55px, 0);
  animation: glitch-animation 3s infinite linear reverse;
}

/* Keyframes for Glitch Animation */
@keyframes glitch-animation {
  0% {
      clip: rect(0, 900px, 45px, 0);
      transform: translate(0);
  }
  10% {
      clip: rect(10px, 900px, 85px, 0);
      transform: translate(-10px, -10px);
  }
  20% {
      clip: rect(20px, 900px, 65px, 0);
      transform: translate(10px, 10px);
  }
  30% {
      clip: rect(30px, 900px, 25px, 0);
      transform: translate(-10px, 0);
  }
  40% {
      clip: rect(40px, 900px, 75px, 0);
      transform: translate(10px, -10px);
  }
  50% {
      clip: rect(50px, 900px, 35px, 0);
      transform: translate(-10px, 10px);
  }
  60% {
      clip: rect(60px, 900px, 55px, 0);
      transform: translate(10px, 0);
  }
  70% {
      clip: rect(70px, 900px, 65px, 0);
      transform: translate(-10px, -10px);
  }
  80% {
      clip: rect(80px, 900px, 85px, 0);
      transform: translate(0, 10px);
  }
  90% {
      clip: rect(90px, 900px, 45px, 0);
      transform: translate(10px, -10px);
  }
  100% {
      clip: rect(0, 900px, 45px, 0);
      transform: translate(0);
  }
}

/* Efeito glitch 
.glitch {
  position: relative;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
  overflow: hidden;
  clip-path: inset(0 0 50% 0);
}

.glitch::before {
  color: var(--text-color);
  z-index: -1;
  animation: glitch-top 2s infinite;
}

.glitch::after {
  color: var(--text-color);
  z-index: -2;
  animation: glitch-bottom 2s infinite;
}*/

/* Animações 
@keyframes glitch-top {
  0% {
      transform: translate(0, 0);
  }
  20% {
      transform: translate(-5px, -5px);
  }
  40% {
      transform: translate(5px, 5px);
  }
  60% {
      transform: translate(-5px, 5px);
  }
  80% {
      transform: translate(5px, -5px);
  }
  100% {
      transform: translate(0, 0);
  }
}

@keyframes glitch-bottom {
  0% {
      transform: translate(0, 0);
  }
  20% {
      transform: translate(5px, 5px);
  }
  40% {
      transform: translate(-5px, -5px);
  }
  60% {
      transform: translate(5px, -5px);
  }
  80% {
      transform: translate(-5px, 5px);
  }
  100% {
      transform: translate(0, 0);
  }
}*/

/* Texto com Gradiente Animado (Colorido) */
/*h1 {
  font-size: 80px;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffe5, #2b65ff, #fff, #8000ff);
  background-size: 300%;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-animation 6s infinite linear;
}

@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}*/

/* Efeito Neon (Texto Brilhante) 
.about-content, h1 {
  font-size: 80px;
  color: #fff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
  from {
      text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
  }
  to {
      text-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 160px #0ff;
  }
}*/

.services h2,
.portfolio h2,
.contact h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25rem;
  margin-left: 1rem;
  text-align: center;
}

.services-box .texto-paragrafo {
  text-align: justify;
}

.services-container .services-box {
  padding: 2rem 1rem 2.5rem;
  border-radius: 1.2rem;
  text-align: center;
  border: solid 0.15rem var(--bg-color-01);
  background-color: var(--bg-color-02);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.03);
}

.services-box i {
  font-size: 4.3rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 1.5rem;
}

.services-box p {
  margin: 0.5rem;
  letter-spacing: 0.1rem;
  /* N linhas */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Quantidade de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio {
  background-color: var(--bg-color-02);
}

.portfolio-container {
  display: grid;
  gap: 1.2rem;
}

.portfolio-box {
  position: relative;
  border-radius: 0.6rem;
  box-shadow: 0 0 0.6rem var(--bg-color-01);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box img:hover {
  transform: scale(1.01);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, var(--main-color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(30rem);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 1.8rem;
  padding: 0.2rem;
}

.portfolio-layer p {
  text-align: justify;
  padding-top: 0.2rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 1.2rem;
  color: var(--bg-color-02);
}

/* Form */
form {
  max-width: 45rem;
  margin: 0.6rem auto;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .input-box input,
form textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--bg-color-02);
  border-radius: 0.5rem;
  margin: 0.4rem 0;
}

form textarea {
  resize: none;
}

/* Rodapé Animação de Fade In no Footer */
.footer {
  background-color: var(--bg-color-01);
  color: var(--main-color);
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0; /* Começa invisível */
  transition: opacity 1s ease-in-out; /* Efeito de transição */
}

.footer,
p {
  text-align: center;
}

/* Quando o footer aparecer, ele terá opacidade 1 */
body.scrolled .footer {
  opacity: 1;
}

/*footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--bg-color-01);
  color: var(--main-color);
}*/

/* Social media */
.social-media img {
  width: 3.5rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: solid 0.15rem var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 1.8rem 0.5rem;
  transition: 0.5s ease;
  pointer-events: auto;
}

.social-media a:hover {
  background-color: var(--main-color);
  color: var(--bg-color-02);
  box-shadow: 0 0 0.3rem var(--main-color);
}

/* Botão currículo */
.btn-cv {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  pointer-events: auto;
}

/* Cor dos links */
a {
  color: var(--main-color);
}

/* Botão */
.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: var(--main-color);
  border-radius: 2rem;
  color: var(--bg-color-02);
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
  margin-top: 1.2rem;
}

.btn:hover {
  box-shadow: 0 0 0.3rem var(--main-color);
  background-color: inherit;
  color: var(--main-color);
  cursor: pointer;
}

/* Botão menu hamburguer */
.menu-hamburguer {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 2rem;
  height: 0.3rem;
  background-color: var(--text-color);
  margin: 0.4rem 0;
  transition: 0.3s ease;
}

.change .bar1 {
  transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.65rem) rotate(45deg);
}

/* Media queries */

/* Extra small (xs): Smartphone (portrait) */
@media (min-width: 0px) {
  .menu-hamburguer {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav-responsive a {
    display: block;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  section {
    padding: 6rem 2.5rem;
  }

  .home,
  .about {
    flex-direction: column;
    gap: 1.2rem;
  }

  .btn-cv {
    display: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .home-img,
  .about-img {
    width: 80%;
    max-width: 80%;
  }

  .home-content,
  .about-content {
    width: 100%;
  }

  .home-content div {
    text-align: center;
  }

  .home-content h1,
  .about-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-heigh: 1.3;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .services-box {
    width: 100%;
  }
}

/* Extra small (sm): Smartphone (landscape) */
@media (min-width: 576px) {
  .home-img,
  .about-img {
    width: 65%;
    max-width: 65%;
  }

  .services-box {
    width: 70%;
  }

  .btn-cv {
    display: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

/* Medium (md): Tablet */
@media (min-width: 768px) {
  .menu-hamburguer {
    display: none;
  }

  .btn-cv {
    display: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .nav {
    display: block;
  }

  .nav-responsive,
  .nav-responsive a {
    display: none;
  }

  .home,
  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .home-img,
  .about-img {
    max-width: 35%;
  }

  .home-content,
  .about-content {
    width: 50%;
  }

  /*.services-container {
    flex-direction: column;
    align-items: center;
  }*/

  .services-box {
    width: 60%;
    margin-bottom: 2rem;
  }

  .portfolio-container {
    /*grid-template-columns: auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  form .input-box input {
    width: 49%;
  }
}

/* Large (lg): Notebook */
@media (min-width: 992px) {
  /*.home-img, .about-img {
    max-width: 35%;
  }*/

  .services-container {
    flex-direction: row;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-around;
  }

  .btn-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

/* Extra large (xl): Desktop */
@media (min-width: 1200px) {
  .home-img,
  .about-img {
    max-width: 25%;
  }

  .home-content h1 {
    font-size: 2.7rem;
  }

  .home-content h3 {
    font-size: 2rem;
  }

  .portfolio-container {
    /*grid-template-columns: auto auto auto auto;*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .btn-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
/* /Media queries */
